<%- include("partials/header.ejs")%>
<div class="ui text container">
    <h1 class="ui header">Detail PAGE</h1>
    <a class="ui green basic button" href="/">HOME</a>
    <div class="ui items">

        <div class="item">
            <div class="ui large image"><img src="<%=blog["image"]%>"></div>
            <div class="content">
                <h1><%=blog["name"]%></h1>
                <p><%=blog["desc"]%>
                </p>
            </div>
        </div>

    </div>
</div>

<%- include("partials/footer.ejs")%>